body{
	text-align: center;
	margin: 0px;
}

svg{
	fill: currentColor;
}

#river{
	width: 50%;
	display: inline-block;

}

#foundArea{
	width: 18%;
	position: fixed;
	top: 0px;
	right: 0px;

}

.set-card{
	border: solid 2px #333;
	display: inline-block;
	width: 31.5%;
	margin-left: 1%;
	margin-bottom: 20px;
	text-align: center;
	height: 200px;
}

#foundArea .set-card{
	margin-bottom: 5px;
	height: 50px;
	width: 31%;
}

#foundArea .set-card .shape{
	font-size: 50px;
	font-weight: bold;
	display: inline-block;
	margin: 0px auto;
}

.set-card.selected{
	border: solid 3px #1E90FF;
}

.set-card p{
	margin-top: 5px;
}

.shape{
	font-size: 150px;
	font-weight: bold;
	display: inline-block;
	margin: 0px auto;
}

.set-card.red{
	border: solid 3px #F44336;
}

.set-card.green{
	border: solid 3px #4CAF50;
}

@media only screen and (max-width: 1813px) {
	.shape{
		font-size: 140px;
	}
}

@media only screen and (max-width: 1694px) {
	.shape{
		font-size: 130px;
	}
}

@media only screen and (max-width: 1650px) {
	.shape{
		font-size: 120px;
	}
}

@media only screen and (max-width: 1456px) {
	.shape{
		font-size: 110px;
	}
}

@media only screen and (max-width: 1340px) {
	#river{
		width: 75%;
	}
}

@media only screen and (max-width: 1000px) {
	#river{
		width: 100%;
	}
}

@media only screen and (max-width: 685px){
	.shape{
		font-size: 90px;
	}
}

