body{
	text-align: center;
}
.set-card{
	border: solid 2px #333;
	display: inline-block;
	width: 30%;
	margin-left: 1%;
	margin-bottom: 20px;
	text-align: center;
	height: 200px;
}

.set-card.selected{
	border: solid 4px purple;
}

.set-card p{
	margin-top: 5px;
}

#river{
	width: 50%;
	display: inline-block;

}

.shape{
	font-size: 150px;
	font-weight: bold;
	display: inline-block;
	margin: 0px auto;
}
